html {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo6gMJoNryncSU58da3mUBMpUFCY0nztFiVByBf7eNDbzxQyC_ErEmGXLnV9QpsTwAZY0&usqp=CAU');
    text-align: center;
    background-size: cover;
    color: red;
    /* width: 90vw; */
    /* height: 100vh; */
}

.everything {
    margin: 20px auto;

}

body p {
    color: rgb(255, 60, 0);
    white-space: nowrap;
}

.header {
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
}

.first-line {
    font-size: 25px;
    color: red;
}

.text {
    max-width: 100vw;
    margin-bottom: 30px;
    font-size: 25px;
    color: red;
}

.prices {
    color: red;
    margin: 20px;
    font-size: 25px;
}

img {
    size: fluid;
    width: 100px;
    height: 163.31px;
    /* border-radius: 65%; */
}

img:hover {
    transform: scale(1.5);
    transition: 1000ms;
}

.reg {
    font-size: 35px;
}

@media only screen and (max-width: 768px) {
    .pic-4 {
        display: none;
    }

    html {
        background-color: black;
    }
}